.styled-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9rem;
  font-family: sans-serif;
  max-width: 880px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 1px 20px;
  text-align: left;
  border: 1px solid #009879;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #ccac6c;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.btn {
  border: none;
  color: white;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-edit {
  background-color: #009879;
  color: white;
  border: none;
}

.btn-delete {
  background-color: #ff0000;
  color: white;
  border: none;
}

.btn-view {
  background-color: #9e5511;
  color: white;
  border: none;
}
